name: conditions
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  demo:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Buils step
        run: echo "Building the app"
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Deploy steps
        run: echo "DEploying sucess"
